body{
    margin: 0px;
    padding: 0px;

}

/* end section start */
#claim{
    background: #c0bba3;
    padding: 4px 4px;
}
#claim h2{
    font-weight: bolder;
    margin-left: 19px;
    padding-left:10px ;
    font-size: larger;
    color: #070502;
    text-align: center;

 }
 


.discount_header {
    color: #000;
    font-size: 20px;
    text-align: center;
    padding-top: 9px;
    
}
.Ebook{
    color: rgb(221, 153, 153);
    font-weight: 300;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: calc();
    
}
.claim_buttion {
    color: hsl(252, 96%, 45%);
    border: 1px solid #5617e9;
    background: none;
    border-radius: 25px;
    padding: 5px 15px;
    font-size: 15px;
    margin-top: 3px;
    align-items: end;

}
/* end section end */
/* start navbar */


.navbar{
    position: absolute;
    top:80px;
    left: 0px;
    right: 0px;
    z-index: 2; 
    transition: 2s;
    
  }
 
      #service{
    background-color: rgb(238, 240, 243);
    box-sizing: border-box;
   
    

}
#img-fluid{
    margin-left: 20px;
}
.paragraph{
    font-size: large;
    font-weight: 20;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    forced-color-adjust: rgb(233, 172, 172);
    word-wrap: break-word;
    word-spacing: 2px;
    
}
.btn{
    text-align: center;
    margin-left: 50px;
    padding: 12px 20px;
}
/* modules start */
.modules li{
    margin-bottom: 15px;
    padding: 0 0 0 20px;
    position: relative;
    margin-top:40px;
    top: 100px;
    font-size: medium;

}
*, :after, :before {
    box-sizing: border-box;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;

}
#cases{
   background-color: rgb(201, 219, 235);
   box-sizing: border-box; 
   border-radius: 40px;
   width: 1000px;
   height: 500px;
   align-items: center;
   margin-left: 250px;


}
/* start features */
#features{
    background-color: whitesmoke;
    box-shadow: inset;
    box-sizing: border-box;
    box-shadow: 0px 0px 3px 4px;
    
}
/* End features */
/* modules end */


   
